@use "src/styles/use/gyro" as g;
@use "../../Sidebar.common" as *;

.chat-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 6.35rem;
  gap: 1rem;
  width: 95%;
  height: 100%;
  animation: 800ms chat-setting-appear forwards;

  & > h5 {
    @extend .menu-header;
  }

  & > ul {
    @extend .menu-ul;
    overflow-y: scroll;
    @include g.hide-scrollbar;
    padding-bottom: 12rem;
  }
}

@mixin chat-settings__button($img, $hover-color) {
  @include g.size(2.5rem);
  background: g.$selected g.icon($img);
  margin-inline: .5rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 100ms;

  &--active {
    background-color: $hover-color;
  }

  &:hover {
    background-color: $hover-color;
  }
}

.rename-chat {
  @include chat-settings__button('edit', rgba(96, 225, 55, 0.44));
  background-size: 80%;
}

#delete-chat {
  @include chat-settings__button('trash', rgba(255, 59, 48, 0.44));
  background-size: 58%;
}

@keyframes conversation-appear {
  from, 25% {
    opacity: 0;
  }
}
