@use "../../../styles/use/gyro" as g;

$buttons-spacing: .85rem;
$elem-padding: .75rem;
$nav-hide-height: -1.05 * g.$nav-height;
$nav-hide-height-parallax: .33;

#nav {
  position: fixed;
  width: 100vw;
  background: color-mix(in srgb, g.$nav-bg, transparent 10%);
  backdrop-filter: saturate(150%) blur(7.5px);
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  padding: $buttons-spacing;
  gap: $buttons-spacing;
  border-bottom: 1px solid g.$d-purple;
  box-shadow: 0 5px 10px rgba(76, 55, 206, 0.25);
  z-index: 10;
  transition: transform 500ms;
}

.nav--hidden {
  transform: translateY($nav-hide-height);
}

.hide-button {
  @include g.abs-center-y;
  left: g.$sb-width;

  @media screen and (max-width: 968px) {
    left: g.$sb-width / 2.5;
  }

  @media screen and (max-width: g.$sb-break) {
    left: 0;
  }

  @media screen and (max-width: 600px) {
    bottom: -1rem;

    .nav--hidden > & {
      transform: translateY(.5rem);
    }
  }
}

.elem {
  padding: $elem-padding;
  background: g.$background;
  border-radius: 10px;
  display: flex;
  cursor: pointer;
  position: relative;
  transition: background-color 100ms, transform 500ms;
  user-select: none;

  &:hover {
    background: g.$selected;
  }

  .nav--hidden > & {
    transform: translateY($nav-hide-height-parallax * $nav-hide-height);
  }

  &--selected {
    background: g.$selected;
    z-index: -1;
  }
}

.icon {
  @include g.size(24px);
}

#settings {
  align-items: center;
  gap: .5rem;

  & span {
    user-select: text;
    max-width: 12ch;
    @include g.clip-text-line;
    transition: opacity 100ms;
    opacity: .8;
  }

  &:hover {
    & span {
      opacity: 1;
    }
  }

  @media (max-width: 500px) {
    & span {
      display: none;
    }
  }
}

.indicator {
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  bottom: -.85rem;
  @include g.size(0);
  @include g.triangle(11px, 13px, g.$d-purple);
  transition: transform cubic-bezier(.26, .65, .54, 1.34) 200ms, translate 500ms;
  transform-style: preserve-3d;
  z-index: 1;

  .elem--selected > & {
    display: none;
  }

  .nav--hidden & {
    translate: 0 (-1 * $nav-hide-height-parallax * $nav-hide-height);
  }
}

.indicator::after {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%) translateZ(-1px);
  @include g.size(0);
  @include g.triangle(16px, 23px, g.$nav-bg);
}

@mixin indicator-movement($multi) {
  &:not(.selected) > .indicator {
    transform: translateX(calc($multi * (2 * $elem-padding + $buttons-spacing + 24px)));
  }

  @include g.on-interaction($selector: ':not(.selected)', $combinators: '> .indicator') {
    transform: translateX(0);
  }
}

@media not (prefers-reduced-motion) {
  #page-btn__dash {
    @include indicator-movement(+1);
  }

  #page-btn__chat {
    @include indicator-movement(-1);
  }
}
