@use "../../../styles/use/gyro" as g;

$body-width: var(--body-width);
$dark-white: #DDDDDD;

@mixin sb-break {
  @media screen and (max-width: g.$sb-break) {
    @content;
  }
}

@mixin msgs-break {
  @media screen and ((max-width: 625px) or ((min-width: g.$sb-break) and (max-width: 1450px))) {
    @content;
  }
}

#main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: calc(100% - #{g.$sb-width});
  --body-width: max(58%, 400px);
  margin-left: g.$sb-width;
  height: 100vh;
  position: relative;
  padding-bottom: calc(3rem + 56px);
  color: $dark-white;
  overflow-y: auto;

  @include sb-break {
    width: 100vw;
    --body-width: calc(100% - 2rem);
    margin-left: 0;
  }
}

#chat-form {
  display: flex;
  flex-flow: row nowrap;
  width: max(45%, 400px);
  min-height: 3rem;
  gap: .5rem;
  align-items: flex-end;
  position: fixed;
  bottom: 2rem;
  z-index: 1;

  @include sb-break {
    width: $body-width;
    bottom: 1rem;
  }

  & > button {
    --background: linear-gradient(45deg, #5E3BAA, #8861DB);
    background: url("../../../../public/icons/send-airrowplane.svg") center no-repeat, var(--background);
    @include g.size(3.5rem);
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    z-index: 1;
    transition: filter 100ms ease-in-out;

    &:hover {
      filter: brightness(1.1) saturate(1.1);
    }

    @include msgs-break {
      --background: transparent;
      position: absolute;
      right: 0;
      scale: .75;
    }
  }

  // Hides text from going underneath the message-box
  &::before {
    content: '';
    position: absolute;
    width: calc(100vw - 22rem);
    height: 3.5rem;
    bottom: -3rem;
    left: 50%;
    right: 50%;
    translate: -50%;
    background: g.$background;
    box-shadow: 0 -2rem 1.25rem g.$background;

    @include sb-break {
      width: calc(100vw - 2rem);
    }
  }

  .textarea-wrapper {
    flex: 1;
    max-height: 250px;
    height: 56px;
    position: relative;

    & > textarea:focus + label {
      opacity: 0;
    }

    & > label {
      transition: opacity 100ms ease-in-out;
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      letter-spacing: .1rem;
      font-size: 1.1rem;
      opacity: .9;
      pointer-events: none;
      text-transform: lowercase;
      white-space: nowrap;

      @include msgs-break {
        transform: translateX(-.75rem);
      }

      & > span {
        color: g.$l-purple;
        opacity: 1;
      }
    }

    & > textarea {
      @include g.size(100%);
      @include g.hide-scrollbar;
      appearance: none;
      resize: none;
      line-height: 1.5rem;
      border: 1px solid g.$d-purple;
      border-radius: 10px 0 0 10px;
      background: g.$chat;
      padding: 1rem 1rem .9rem;
      box-sizing: border-box;
      outline: none;
      caret-color: $dark-white;

      @include msgs-break {
        border-radius: 10px;
        padding-right: 2.75rem;
      }
    }
  }
}

.skele-logo {
  background: url("../../../../public/logos/logo-big-skeleton.svg") center no-repeat;
  width: clamp(25rem, 75%, 40rem);
  position: absolute;
  @include g.abs-center-x;
  top: -5rem;
  opacity: .75;

  @include sb-break {
    width: min(36rem, 90%);
  }
}

@mixin h4-common {
  margin: 0;
  height: .5rem;
}

#start-of-chat {
  @include h4-common;
  color: color-mix(in srgb, g.$background 60%, rgba(183, 201, 200, 0.25));
  padding-top: g.$nav-height + 1.5rem;
  margin-top: auto; // Necessary to push the chat to the bottom ('justify-content: end' breaks scrolling)
}

#msg-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.msg {
  padding-inline: max(2rem,  calc((100% - $body-width) / 1.2 - 10vw)); // don't ask.
  margin-block: 1.5rem;
  padding-top: 1rem;
  position: relative;
  letter-spacing: .02rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: 300;

  @media screen and (max-width: 352px) {
    font-size: .9rem;
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1rem;
    bottom: -1rem;
    left: 0;
  }

  & > h4 {
    @include h4-common;
  }

  &__human {
    @extend .msg;

    background-color: g.$chat;

    &::after {
      background-color: g.$chat;
    }
  }

  &__ai {
    @extend .msg;
  }
}

#docs {
  list-style-type:none;
  padding: 0;
  margin-top: -.5rem;

  & > li {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: g.$light-gray;
    cursor: pointer;

    &:not(:first-child) {
      margin-top: .75rem;
    }

    & > i {
      content: url("../../../../public/icons/doc.svg");
      @include g.size(1.5rem);
    }
  }
}

.new-chat-modal {
  #new-chat-modal__name {

  }

  &__elem-col {
    display: flex;
    flex-direction: column;
    gap: .25rem;
  }

  & button {
    width: fit-content;
    //background: linear-gradient(-45deg, #553498, #7352b9 55%) !important;
  }
}
