@use "../../../../styles/use/gyro" as g;
@use "../Sidebar.common" as *;

$menu-transition: transform ease-in-out 300ms;

.menu-header {
  display: block;
  text-align: center;
  font-weight: normal;
  opacity: .5;
  height: 1rem;
  margin: 0;
}


.date-group {
  width: 100%;
  transition: $menu-transition;
  $group: &;

  & > h5 {
    @extend .menu-header;
    margin: .75rem 0 0;
  }

  &:first-of-type > h5 {
    margin: 0;
  }

  & > ul {
    @extend .menu-ul;
  }

  &__content {
    @extend .menu-ul__content;
    transition: $menu-transition, background-color 100ms;
  }

  &__content.selected {
    padding-right: 2.75rem;
    background-color: g.$selected;

    & > #{$group}__settings-button {
      opacity: 1;
      pointer-events: none;
      rotate: -90deg;
    }
  }

  &__settings-button {
    background: url("../../../../../public/icons/3-vertical-dots.svg") center no-repeat;
    background-size: 40% 40%;
    scale: 2;
    position: absolute;
    @include g.size(1.5rem);
    @include g.abs-center-x;
    right: .75rem;
    opacity: 0;
    transition: opacity 100ms, rotate ease-out 250ms;
    cursor: pointer;
    transform-origin: 52.5% 52.5%;

    &:hover {
      rotate: -90deg;
    }
  }

  &__content.menu-ul__current > &__settings-button {
    background: url("../../../../../public/icons/settings.svg") center no-repeat;
    background-size: 50% 50%;
  }

  @container (min-width: 35rem) {
    &__content {
      padding-right: 2.75rem;

      & > #{$group}__settings-button {
        opacity: .5;
      }
    }

    &__content.menu-ul__current > &__settings-button, &__content:hover > &__settings-button {
      opacity: .75;
    }

    &__content:hover.menu-ul__current > &__settings-button {
      opacity: 1;
    }
  }
}

.chat-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 6.35rem;
  gap: 1rem;
  width: 95%;
  height:100%;
  animation: 800ms chat-setting-appear forwards;

  & > h5 {
    @extend .menu-header;
  }

  & > ul {
    @extend .menu-ul;
    overflow-y: scroll;
    @include g.hide-scrollbar;
    padding-bottom: 12rem;
  }

  &__document {
    padding-inline: 2.5%;
    margin-block: 1rem;
    display: flex;
    align-items: center;
    gap: .75rem;
    height: 3rem;
    border-radius: 10px;
    width: 100%;
    opacity: 1;
    background: g.$chat;
    transition: background-color 100ms;

    &:first-of-type {
      margin-top: 0;
    }

    &:hover {
      background: g.$less-selected;
    }

    & > span {
      @include g.clip-text-line;
      display: block;
      flex: 1;
    }

    & > button {
      display: none;
    }

    @container (min-width: 35rem) {
      & > button {
        display: initial;
      }

      & > #placeholder-dots {
        display: none;
      }
    }
  }
}

@mixin chat-settings__button($img, $hover-color) {
  @include g.size(2.5rem);
  background: g.$selected url("../../../../../public/icons/#{$img}.svg") no-repeat center;
  margin-inline: .5rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 100ms;

  &:hover {
    background-color: $hover-color;
  }
}

#rename-chat {
  @include chat-settings__button('edit', rgba(96, 225, 55, 0.44));
  background-size: 80%;
}

#delete-chat {
  @include chat-settings__button('trash', rgba(255, 59, 48, 0.44));
  background-size: 58%;
}

@mixin doc-settings__button($img) {
  @include g.size(1.5rem);
  background: url("../../../../../public/icons/#{$img}.svg") no-repeat center;
  cursor: pointer;
  opacity: .5;
  transition: opacity 100ms;

  &:hover {
    opacity: .95;
  }
}

#download-doc {
  @include doc-settings__button('download');
}

#info-doc {
  @include doc-settings__button('info');
}

#delete-doc {
  @include doc-settings__button('trash');
  background-size: 80%;

  &:hover {
    filter: invert(.75) sepia(1) saturate(3) hue-rotate(-60deg); // Converts the white to a red
  }
}

#placeholder-dots {
  @include doc-settings__button('3-vertical-dots');
  opacity: .25;
}

.upload-doc {
  position: absolute;
  bottom: 0;
  @include g.abs-center-y;
  margin: .75rem .25rem .25rem .75rem;
  border: 1px dashed g.gray(90);
  display: flex;
  align-items: center;
  gap: .75rem;
  padding: .75rem 1rem;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  transition: border-color 100ms;
  background: g.$sidebar-bg;
  box-shadow: 0 0 1rem 1rem g.$sidebar-bg;
  height: 5.25rem;
  animation: 800ms chat-setting-appear forwards;

  &:hover {
    border-color: g.gray(110);

    & > div > label {
      color: inherit;
    }

    & > div > label > span {
      color: g.$light-gray;
    }
  }

  & > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & > div > label {
    transition: color 100ms;
    color: g.$light-gray;
    white-space: pre;
    pointer-events: none;
  }

  & > div > label > span {
    transition: color 100ms;
    color: gray;
  }

  #upload-doc__button {
    border-radius: 50%;
    @include g.size(2.5rem);
    aspect-ratio: 1;
    background: url("../../../../../public/icons/plus.svg") center no-repeat, linear-gradient(-45deg, #5E3BAA, #8861DB 55%);
    background-size: 40% 40%, cover;
    cursor: pointer;
  }
}

@keyframes chat-setting-appear {
  from, 25% {
    opacity: 0;
  }
  to {
    pointer-events: initial;
    opacity: 1;
  }
}
