@use "src/styles/use/gyro" as g;

$menu-transition: transform ease-in-out 300ms;

.menu-header {
  display: block;
  text-align: center;
  font-weight: normal;
  opacity: .5;
  height: 1rem;
  margin: 0;
}

.menu-ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;

  &__content {
    margin-top: .75rem;
    width: 100%;
    background: g.$chat;
    border-radius: 10px;
    padding: .85rem .75rem;
    cursor: pointer;
    position: relative;
    height: 2.85rem;

    & > span {
      @include g.clip-text-line;
      display: block;
    }
  }

  &__content.menu-ul__current {
    background: g.$selected;

    &::after {
      content: '';
      position: absolute;
      @include g.triangle(.5rem, .5rem, g.$d-purple);
      @include g.abs-center-x;
      right: .1rem;
      rotate: -90deg;
      pointer-events: none;
    }
  }

  &__content:not(.menu-ul__current):hover {
    background: g.$less-selected;
  }

  &__current {}
}

.plus-btn {
  border-radius: 50%;
  aspect-ratio: 1;
  //background: url("../../../../../public/icons/stockier-plus.svg") center no-repeat, linear-gradient(-45deg, #5E3BAA, #8861DB 55%);
  background: g.icon('stockier-plus'), linear-gradient(-45deg, #5E3BAA, #8861DB 55%);
  background-size: 40% 40%, cover;
  cursor: pointer;
  transition: filter 100ms ease-in-out, $menu-transition;

  &:hover {
    filter: brightness(1.1) saturate(1.1);
  }
}

@keyframes chat-setting-appear {
  from, 25% {
    opacity: 0;
  }
  to {
    pointer-events: initial;
    opacity: 1;
  }
}
