@use "../../../../styles/use/gyro" as g;

$menu-transition: transform ease-in-out 300ms;

.menu-header {
  display: block;
  text-align: center;
  font-weight: normal;
  opacity: .5;
  height: 1rem;
  margin: 0;
}

.menu-ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.date-group {
  width: 100%;
  transition: $menu-transition;
  $group: &;

  & > h5 {
    @extend .menu-header;
    text-transform: capitalize;
    margin: .75rem 0 0;
  }

  &:first-of-type > h5 {
    margin: 0;
  }

  & > ul {
    @extend .menu-ul;
  }

  &__content {
    margin-top: .75rem;
    width: 100%;
    background: g.$chat;
    border-radius: 10px;
    padding: .85rem .75rem;
    cursor: pointer;
    position: relative;
    transition: $menu-transition, background-color 100ms;
    height: 2.85rem;
  }

  &__content > span {
    @include g.clip-text-line;
    display: block;
  }

  &__content.current {
    background: g.$selected;

    &::after {
      content: '';
      position: absolute;
      @include g.triangle(.5rem, .5rem, g.$d-purple);
      @include g.abs-center-x;
      right: .1rem;
      rotate: -90deg;
      pointer-events: none;
    }
  }

  &__content:not(.current):hover {
    background: g.$less-selected;
  }

  &__content.selected {
    padding-right: 2.75rem;
    background-color: g.$selected;

    & > #{$group}__settings-button {
      opacity: 1;
      pointer-events: none;
      rotate: -90deg;
    }
  }

  &__settings-button {
    background: url("../../../../../public/icons/3-vertical-dots.svg") center no-repeat;
    position: absolute;
    @include g.size(1.5rem);
    @include g.abs-center-x;
    right: .75rem;
    opacity: 0;
    transition: opacity 100ms, rotate ease-out 250ms;
    cursor: pointer;

    &:hover {
      rotate: -90deg;
    }
  }

  &__content.current > &__settings-button {
    background: url("../../../../../public/icons/settings.svg") center no-repeat;
  }

  @container (min-width: 35rem) {
    &__content {
      padding-right: 2.75rem;

      & > #{$group}__settings-button {
        opacity: .5;
      }
    }

    &__content.current > &__settings-button, &__content:hover > &__settings-button {
      opacity: .75;
    }

    &__content:hover.current > &__settings-button {
      opacity: 1;
    }
  }
}

.chat-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 6.35rem;
  gap: 1rem;
  width: 95%;

  &:not(&--hidden) {
    animation: 800ms chat-setting-appear forwards;
  }

  &--hidden {
    display: none;
    pointer-events: none;
  }

  & > h5 {
    @extend .menu-header;
  }

  & > ul {
    @extend .menu-ul;
  }

  &__document {
    padding-inline: 2.5%;
    margin-block: 1rem;
    display: flex;
    align-items: center;
    gap: .75rem;
    height: 3rem;
    border-radius: 10px;
    width: 100%;
    opacity: 1;
    background: g.$chat;
    transition: background-color 100ms;

    &:first-of-type {
      margin-top: 0;
    }

    &:hover {
      background: g.$less-selected;
    }

    & > span {
      @include g.clip-text-line;
      display: block;
      flex: 1;
    }

    & > button {
      display: none;
    }

    @container (min-width: 35rem) {
      & > button {
        display: initial;
      }

      & > #placeholder-dots {
        display: none;
      }
    }
  }
}

@keyframes chat-setting-appear {
  from, 25% {
    opacity: 0;
  }
  to {
    pointer-events: initial;
    opacity: 1;
  }
}

@mixin chat-settings__button($img, $hover-color) {
  @include g.size(2.5rem);
  background: g.$selected url("../../../../../public/icons/#{$img}.svg") no-repeat center;
  margin-inline: .5rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 100ms;

  &:hover {
    background-color: $hover-color;
  }
}

#rename-chat {
  @include chat-settings__button('edit', rgba(96, 225, 55, 0.44));
  background-size: 80%;
}

#delete-chat {
  @include chat-settings__button('trash', rgba(255, 59, 48, 0.44));
  background-size: 58%;
}

@mixin doc-settings__button($img) {
  @include g.size(1.5rem);
  background: url("../../../../../public/icons/#{$img}.svg") no-repeat center;
  cursor: pointer;
  opacity: .5;
  transition: opacity 100ms;

  &:hover {
    opacity: .95;
  }
}

#download-doc {
  @include doc-settings__button('download');
}

#info-doc {
  @include doc-settings__button('info');
}

#delete-doc {
  @include doc-settings__button('trash');
  background-size: 80%;

  &:hover {
    filter: invert(.75) sepia(1) saturate(3) hue-rotate(-60deg); // Converts the white to a red
  }
}

#placeholder-dots {
  @include doc-settings__button('3-vertical-dots');
  opacity: .25;
}
